@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
    scroll-padding: 2rem !important;
}

html::-webkit-scrollbar {
    width: 0.3vw;
}

html::-webkit-scrollbar-thumb {
    @apply bg-gray-900 rounded-lg;
}

html::-webkit-scrollbar-track {
    background-color: var(--dark-color);
}

body {
    background-image: linear-gradient(
        to bottom,
        rgb(227, 227, 227) 0%,
        rgb(206, 206, 206) 50%,
        rgb(201, 201, 201) 100%
    );
    color: rgb(233, 233, 233);
}

.container {
    @apply flex flex-col mx-auto;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ID Sections */
#Info {
    @apply py-5;
}
